@import "themes.css";
@tailwind base;

/* Themes End */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(13, 14, 14);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-hover);
}

body {
  height: 100%;
}

/* Animations */
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.gelatine-in-out {
  animation: gelatine 0.375s ease-in-out;
}

.gelatine-infinite {
  animation: gelatine 0.375s infinite;
}
