:root {
  --primary-color: #27232a;
  --secondary-color: #ad770a;
  --text-color: #fff;
  --accent-color: #e7ae3a;
  --accent-color-hover: #ad770a;

  --font-accent: "Luckiest Guy", system-ui;
}

/* Themes */

[data-theme="ashfid-original"] {
  --primary-color: #27232a;
  --secondary-color: #ff0062;
  --text-color: #fff;
  --accent-color: #ff0062;
  --accent-color-hover: #9c0941;
}
[data-theme="new-design"] {
  --primary-color: #27232a;
  --secondary-color: #ad770a;
  --text-color: #fff;
  --accent-color: #e7ae3a;
  --accent-color-hover: #ad770a;
}