---
import SectionWithHeading from "../../components/section-with-heading.astro";
import MainLayout from "../../layouts/main-layout.astro";
import { Image } from "astro:assets";
import getAllArt, { type Artwork } from "@api/art";

const images = await Astro.glob<Artwork>("../../assets/showcase/*.png").then(
  async (data) => {
    return getAllArt(data);
  }
);

const filteredImages = images.sort((a, b) => {
  return b.id - a.id;
});
---

<MainLayout title="Art">
  <SectionWithHeading title="" columnsSize="md">
    {
      filteredImages.map((image) => (
        <a
          href={`/art/${image.title}`}
          class="hover:animate-gelatine-in-out overflow-hidden rounded-md cursor-pointer"
        >
          <Image
            src={image.default}
            width={256}
            height={256}
            class="w-full h-full object-cover object-center"
            alt={image.id.toString()}
            format="webp"
            loading="lazy"
            quality="low"
            transition:name={image.title}
          />
        </a>
      ))
    }
  </SectionWithHeading>
</MainLayout>
