---
import getAllGames, { Games } from "@api/games";
import SectionWithHeading from "@components/section-with-heading.astro";
import MainLayout from "@layouts/main-layout.astro";

const response: Games = await getAllGames();
---

<MainLayout title="Games">
	<SectionWithHeading title="" columnsSize="sm">
		{
			response.map((game) => (
				<a href={game.url} class="flex flex-col h-full w-full group">
					{game.cover_url ? (
						<img
							src={game.cover_url}
							alt={game.title}
							class="w-full h-full object-cover group-hover:animate-gelatine-in-out"
						/>
					) : (
						<div class="h-full bg-gradient-to-r from-violet-600 to-indigo-600 group-hover:animate-gelatine-in-out" />
					)}
					<span class="font-bold text-lg">{game.title}</span>
				</a>
			))
		}
	</SectionWithHeading>
</MainLayout>
