---
import getAllGames from "../api/games";
import MainLayout from "../layouts/main-layout.astro";

const response = await getAllGames();
---

<MainLayout>
	<div class="container">
		<ul class="grid grid-cols-3 place-items-center gap-2">
			{
				response.map((game: any) => (
					<li>
						{game.cover_url ? (
							<img
								src={game.cover_url}
								class="w-full h-full object-cover"
							/>
						) : (
							<div class="w-72 h-full bg-slate-500">
								{game.title}
							</div>
						)}
					</li>
				))
			}
		</ul>
	</div>
</MainLayout>

<style>
	.container {
		background-color: var(--secondary-color);
		padding: 1rem;
		gap: 0.2rem;
	}

	ul {
	}
</style>
