---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout>
	<div class="container">Art goes here</div>
</MainLayout>

<style>
	.container {
		background-color: var(--secondary-color);
		padding: 1rem;
	}
</style>
