---
import MainLayout from "../layouts/main-layout.astro";
import { Image } from "astro:assets";

const images = await Astro.glob("../assets/showcase/*.png");
---

<MainLayout>
	<div class="bg-secondary p-2 grid grid-cols-5 gap-1">
		{
			images.map((image) => (
				<div class="hover:animate-gelatine-in-out overflow-hidden rounded-md cursor-pointer">
					<Image
						src={image.default.src}
						width={256}
						height={256}
						class="w-full h-full object-cover aspect-video"
						alt="image"
					/>
				</div>
			))
		}
	</div>
</MainLayout>
