---
import { Icon } from "astro-icon";
import MobileMenu from "./mobile-menu.svelte";

const getActivePage = (): string => {
    const { pathname } = Astro.url;

    return pathname === "/" ? "HOME" : pathname.replace("/", "").toUpperCase();
};

const links = [
    {
        id: "HOME",
        url: "/",
        icon: "mdi:home",
    },
    {
        id: "GAMES",
        url: "/games",
        icon: "ion:game-controller",
    },
    {
        id: "ART",
        url: "/art",
        icon: "fa-solid:paint-brush",
    },
];

const cleanPathname = (url: string): string => {
    return url === "/"
        ? "HOME"
        : url
              .replaceAll("/ART/", "")
              .replace("/", "")
              .replaceAll(".HTML", "")
              .replaceAll("-", " ")
              .replace(/^ART(?=\S)/, "");
};

const title = cleanPathname(getActivePage());

const capitalizeFirstCharacter = (name: string): string => {
    const str = name.charAt(0).toUpperCase() + name.slice(1).toLowerCase();
    return str;
};
---

<nav
    class="sticky top-0 z-50 flex items-center justify-between px-4 py-2 text-xl shadow-2xl lg:text-base bg-secondary"
>
    <span id="swup" class="hidden font-stylized font-bold text-xl lg:block"
        >{title}</span
    >
    <ul class="flex w-full gap-4 justify-end font-stylized text-xl">
        {
            links.map((link) => (
                <li id="swup">
                    <a
                        href={link.url}
                        class={`flex items-center gap-3 p-2 transition-all duration-200 ease-in-out rounded-md hover:bg-primary group ${
                            getActivePage().includes(link.id)
                                ? "active-link"
                                : ""
                        }`}
                    >
                        <Icon
                            class="w-12 lg:w-6 group-hover:animate-gelatine-infite"
                            name={link.icon}
                        />
                        <span>{capitalizeFirstCharacter(link.id)}</span>
                    </a>
                </li>
            ))
        }
        <li>
            <MobileMenu client:load>
                <Icon
                    name="bi:list"
                    class="block lg:hidden relative w-12 h-12 z-[999999]"
                    slot="title"
                />
            </MobileMenu>
        </li>
    </ul>
</nav>

<style>
    .active-link {
        background-color: var(--primary-color);
        font-weight: bold;
    }

    .active-link [astro-icon] {
        animation: gelatine 0.5s infinite;
    }
</style>
