---
import { Icon } from "astro-icon";

interface Props {
    name: string;
    value: string;
    icon: string;
}

const { name, value, icon } = Astro.props as Props;
---

<section
    data-action="overlay"
    class="relative flex items-center gap-4 bg-primary p-4 cursor-pointer transition-all duration-200 ease-in-out outline outline-2 outline-primary hover:bg-secondary hover:outline-primary group rounded-md"
>
    <Icon name={icon} class="w-8 group-hover:animate-gelatine-infite" />
    <div class="pointer-events-none">
        <h5 class="font-bold">{name}</h5>
        <span class="value">{value}</span>
    </div>
    <div
        data-action="copy"
        class="absolute inset-0 pointer-events-none flex flex-col items-center justify-center opacity-0"
    >
        Copied to Clipboard
    </div>
</section>

<style>
    .copy-overlay {
        position: absolute;
        inset: 0;
        opacity: 1;
        background-color: var(--primary-color);
        transition: all 150ms ease-in-out;
    }
</style>
