---
import { contact } from "../../site.config";
import ThemeToggler from "./theme-toggler.svelte";
import ContactDetailCard from "./contact-detail-card.svelte";
import Icon from "astro-icon";
---

<aside
    id="menu"
    class="flex-col hidden gap-6 p-3 overflow-y-scroll rounded-md lg:flex shrink-0 bg-secondary w-80 lg:h-full"
>
    <!-- Logo -->
    <div class="flex-shrink-0 w-full overflow-hidden rounded-full h-72">
        <img
            src="/images/kostur.png"
            alt="logo"
            class="object-cover w-full h-full aspect-video"
        />
    </div>

    <!-- Logo details -->
    <section class="flex flex-col items-center gap-2">
        <h1 class="text-2xl font-bold">Kostur</h1>
        <span class="p-2 font-mono rounded-md bg-primary">Artist</span>
    </section>
    <!-- Contact Details -->
    <section>
        <div class="flex flex-col gap-4">
            {
                contact.map((c) => (
                    <ContactDetailCard
                        name={c.name}
                        value={c.value}
                        client:load
                    >
                        <Icon
                            name={c.icon}
                            class="w-8 group-hover:animate-gelatine-infite"
                            slot="icon"
                        />
                    </ContactDetailCard>
                ))
            }
        </div>
    </section>
    <!-- Copyright Details? -->
    <section class="mt-auto font-bold text-center">
        <ThemeToggler client:load />
        &#169; KOSTUR {new Date().getFullYear()}
    </section>
</aside>
