---
import { contact } from "../../site.config";
import ThemeToggler from "./theme-toggler.astro";
import ContactDetailCard from "./contact-detail-card.astro";
---

<aside
    id="menu"
    class="hidden lg:flex shrink-0 bg-secondary p-3 flex-col gap-6 rounded-md w-80 lg:h-full overflow-y-scroll"
>
    <!-- Logo -->
    <div class="w-full h-72 rounded-full overflow-hidden flex-shrink-0">
        <img
            src="/images/kostur.png"
            alt="logo"
            class="w-full h-full aspect-video object-cover"
        />
    </div>

    <!-- Logo details -->
    <section class="flex flex-col items-center gap-2">
        <h1 class="text-2xl font-bold">Kostur</h1>
        <span class="bg-primary p-2 rounded-md font-mono">Artist</span>
    </section>
    <!-- Contact Details -->
    <section>
        <div class="flex flex-col gap-4">
            {
                contact.map((c) => (
                    <ContactDetailCard
                        name={c.name}
                        value={c.value}
                        icon={c.icon}
                    />
                ))
            }
        </div>
    </section>
    <!-- Copyright Details? -->
    <section class="mt-auto font-bold text-center">
        <ThemeToggler />
        &#169; KOSTUR {new Date().getFullYear()}
    </section>
</aside>

<style>
    .copy-overlay {
        position: absolute;
        inset: 0;
        opacity: 1;
        background-color: var(--primary-color);
        transition: all 150ms ease-in-out;
    }
</style>

<script>
    const contacts = document.querySelectorAll('[data-action*="overlay"]');

    contacts.forEach((contact) => {
        contact.addEventListener("click", (e) => {
            e.preventDefault();
            e.stopPropagation();

            const overlay: HTMLDivElement | null = contact.querySelector(
                '[data-action*="copy"]'
            );

            const value: HTMLSpanElement | null =
                contact.querySelector(".value");

            overlay?.classList.add("copy-overlay");

            navigator.clipboard.writeText(value?.innerText ?? "");

            setTimeout(() => {
                overlay?.classList.remove("copy-overlay");
            }, 1000);
        });
    });
</script>
