---
import { contact } from "../../site.config";
import Icon from "astro-icon";
---

<aside
    class="hidden lg:flex shrink-0 bg-secondary p-3 flex-col gap-6 rounded-md w-80"
>
    <!-- Logo -->
    <div class="w-full h-72 rounded-full overflow-hidden">
        <img
            src="/images/kostur.png"
            alt="logo"
            class="w-full h-full aspect-video object-cover"
        />
    </div>

    <!-- Logo details -->
    <section class="flex flex-col items-center gap-2">
        <h1 class="text-2xl font-bold">Kostur</h1>
        <span class="bg-primary p-2 rounded-md font-mono">Artist</span>
    </section>
    <!-- Contact Details -->
    <section>
        <ul class="flex flex-col gap-4">
            {
                contact.map((c) => (
                    <li class="flex items-center gap-4 bg-primary p-4 cursor-pointer transition-all duration-200 ease-in-out outline outline-2 outline-primary hover:bg-secondary hover:outline-primary group">
                        <Icon
                            name={c.icon}
                            class="w-8 group-hover:animate-gelatine-infite"
                        />
                        <div>
                            <h5>{c.name}</h5>
                            <span>{c.value}</span>
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
    <!-- Copyright Details? -->
    <section class="mt-auto font-bold text-center">
        &#169; KOSTUR 2023-2030
    </section>
</aside>
