---
import { Icon } from "astro-icon";
import ContactAside from "../components/contact.astro";
import MobileMenu from "../components/mobile-menu.astro";
import "../styles/master.css";

const getActivePage = (): string => {
    const { pathname } = Astro.url;

    return pathname === "/" ? "/" : pathname.replace("/", "").toUpperCase();
};

const { title = "Title" } = Astro.props;
---

<html lang="en">
    <head>
        <meta name="title" content="Kostur" />
        <meta name="description" content="Portfolio for Kostur" />
        <meta
            name="keywords"
            content="art, graphics, designing, games, gameart, gamedev, designer, logos"
        />
        <meta name="robots" content="index, follow" />
        <meta name="theme-color" content="#844446" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />

        <meta property="og:title" content="kostur" />
        <meta property="og:type" content="graphic designing" />
        <meta property="og:url" content="https://k0stury.github.io" />
        <meta
            property="og:image"
            content="https://k0stury.github.io/images/kostur.png"
        />
        <title>{title.toUpperCase()}</title>
    </head>
    <body class="flex flex-col lg:flex-row p-4 gap-4">
        <ContactAside />
        <MobileMenu />
        <main
            class="flex flex-col gap-4 flex-grow rounded-md overflow-x-hidden"
        >
            <nav
                class="flex justify-between items-center bg-secondary py-2 px-4"
            >
                <span id="swup" class="font-bold"
                    >{
                        getActivePage() === "/"
                            ? "HOME"
                            : getActivePage()
                                  .replaceAll("/ART/", "")
                                  .replace("/", "")
                                  .replace("ART", "")
                                  .replaceAll(".HTML", "")
                    }</span
                >
                <ul class="flex gap-4">
                    <li id="swup">
                        <a
                            href="/"
                            class={`flex items-center gap-3 p-2 transition-all duration-200 ease-in-out rounded-md hover:bg-primary group ${
                                getActivePage() === "/" ? "active-link" : ""
                            }`}
                        >
                            <Icon
                                class="w-6 group-hover:animate-gelatine-infite"
                                name="mdi:home"
                            />
                            Home
                        </a>
                    </li>
                    <li id="swup">
                        <a
                            href="/games"
                            class={`flex items-center gap-3 p-2 transition-all duration-200 ease-in-out rounded-md hover:bg-primary group ${
                                getActivePage().includes("GAMES")
                                    ? "active-link"
                                    : ""
                            }`}
                        >
                            <Icon
                                class="w-6 group-hover:animate-gelatine-infite"
                                name="ion:game-controller"
                            />
                            Games
                        </a>
                    </li>
                    <li id="swup">
                        <a
                            href="/art"
                            class={`flex items-center gap-3 p-2 transition-all duration-200 ease-in-out rounded-md hover:bg-primary group ${
                                getActivePage().includes("ART")
                                    ? "active-link"
                                    : ""
                            }`}
                        >
                            <Icon
                                class="w-6 group-hover:animate-gelatine-infite"
                                name="fa-solid:paint-brush"
                            />
                            Art
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="swup" class="swup-transition-fade space-y-4">
                <slot />
            </div>
        </main>
    </body>
</html>

<style>
    .active-link {
        background-color: var(--primary-color);
        font-weight: bold;
    }

    .active-link [astro-icon] {
        animation: gelatine 0.5s infinite;
    }
</style>

<script>
    import "../scripts/router";

    const html = document.documentElement;

    if (
        localStorage.getItem("theme") !== null ||
        localStorage.getItem("theme") !== undefined
    ) {
        html.dataset.theme = localStorage.getItem("theme") ?? "default";
    }
</script>
