---
import { Icon } from "astro-icon";
import { contact } from "../../site.config";
import ContactDetailCard from "@components/contact-detail-card.astro";
import ContactAside from "@components/contact.astro";
import MobileMenu from "@components/mobile-menu.svelte";
import ThemeToggler from "@components/theme-toggler.astro";
import NavbarWrapper from "@components/navbar/navbar-wrapper.astro";
import "@fontsource/league-mono";
import "@fontsource/lato";
import "@styles/master.css";
import MetaTags from "./meta-tags.astro";

const { title = "Title" } = Astro.props;
---

<html lang="en">
    <head>
        <MetaTags />
        <title>{title.toUpperCase()}</title>
    </head>
    <body class="flex flex-col lg:flex-row p-4 gap-4">
        <ContactAside />
        <MobileMenu client:load>
            <Icon name="bi:list" class="w-10 h-10" slot="menu-icon" />
            <div class="flex flex-col gap-4" slot="details">
                {
                    contact.map((c) => (
                        <ContactDetailCard
                            name={c.name}
                            value={c.value}
                            icon={c.icon}
                        />
                    ))
                }
            </div>
            <div slot="actions">
                <ThemeToggler />
            </div>
        </MobileMenu>
        <main
            class="flex flex-col gap-4 flex-grow rounded-md overflow-x-hidden"
        >
            <NavbarWrapper />
            <div id="swup" class="swup-transition-fade space-y-4">
                <slot />
            </div>
        </main>
        <script>
            import "../scripts/router";

            const html = document.documentElement;

            if (
                localStorage.getItem("theme") !== null ||
                localStorage.getItem("theme") !== undefined
            ) {
                html.dataset.theme = localStorage.getItem("theme") ?? "default";
            }
        </script>
    </body>
</html>
