---
import ContactAside from "@components/contact.astro";
import NavbarWrapper from "@components/navbar/navbar-wrapper.astro";
import "@fontsource/inter";
import "@fontsource/rancho";
import "@styles/master.css";
import MetaTags from "./meta-tags.astro";

const { title = "Title" } = Astro.props;
---

<html lang="en">
    <head>
        <MetaTags />
        <title>{title}</title>
    </head>
    <body class="flex flex-col gap-4 p-2 lg:p-4 lg:flex-row">
        <ContactAside />
        <main
            class="flex flex-col flex-grow gap-4 overflow-x-hidden rounded-md"
        >
            <NavbarWrapper />
            <div id="swup" class="space-y-4 swup-transition-fade">
                <slot />
            </div>
        </main>
        <script>
            import "../scripts/router";

            const html = document.documentElement;

            if (
                localStorage.getItem("theme") !== null ||
                localStorage.getItem("theme") !== undefined
            ) {
                html.dataset.theme = localStorage.getItem("theme") ?? "default";
            }
        </script>
    </body>
</html>
