---
import Avatar from "@assets/logo/avatar.png";
import { getImage } from "astro:assets";

const contentImg = await getImage({
  src: Avatar,
  width: 1280,
  height: 720,
});

const ogImageUrl = new URL(contentImg.src, Astro.site ?? Astro.url).href;
const siteUrl = "https://k0stur.dev";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Kostur's Art</title>
<meta name="title" content="Kostur's Art" />
<meta name="description" content="Portfolio of Kostur 🎨" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<meta name="theme-color" content="#e7ae3a" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="English" />

<meta property="og:site_name" content="k0stur.dev" />
<meta property="og:title" content="Kostur's Art" />
<meta property="og:type" content="website" />
<meta property="og:url" content={siteUrl} />
<meta property="og:image" content={ogImageUrl} />
<meta property="og:description" content="Portfolio of Kostur 🎨" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={siteUrl} />
<meta property="twitter:title" content="Kostur's Art" />
<meta property="twitter:description" content="Portfolio of Kostur 🎨" />
<meta property="twitter:image" content={ogImageUrl} />
